html {
    background-color: #444444;
}

body {
    background-color: #444444;
    align-items: center;
}

h1 {
    color: #f8f9fa;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

h2 {
    margin: 5px;
    font-family: Microsoft JhengHei;
}

#header {
    position: sticky;
    top: 0px;
    z-index: 20;
}

.header {
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.header.shrink {
    height: 80%;
    line-height: 80%;
}

.header h1 {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#title.change {
    background-color: #608799;
}

.change {
    color: #ffffff;
}

.header.shrink h1 {
    font-size: 26px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#STEAM {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: larger;
    color: rgb(0, 21, 255);
}

#生活物理 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    color: rgb(0, 21, 255);
}

.html-content {
    color: black;
    font-size: 22px;
    line-height: 40px;
    color: #ffffff;
}

.html-video {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
    background-color: #444444;
}

#re iframe {
    width: 560px;
    height: 415px;
    width: 100%;
}

.progress-container2 {
    width: 100%;
    height: 8px;
    background: #0a58ca;
}

.progress-container3 {
    width: 100%;
    background: whitesmoke;
    position: relative;
    top: 0px;
    z-index: 20;
    background-color: whitesmoke;
    height: 34px;
}

.navbar-toggler {
    /* --bs-navbar-padding-y: 0; */
    z-index: 25;
    border: none;
    padding-bottom: 20px;
    padding-bottom: 20px;
    position: absolute;
    right: 0px;
    top: 5px;
    height: 3px;
    border: none;
}

.navbar-toggler-icon {
    padding-bottom: 24px;
    height: 1px;
}

.bg-light {
    --bs-bg-opacity: 0;
    z-index: 24;
    background: #0a58ca;
    background-color: rgba(var(--bs-light-rgb), 0)!important;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
    background-image: linear-gradient(to right, #608799, #003d5b);
}

.progress-bar2 {
    height: 28px;
    background-color: whitesmoke;
    width: 0%;
    background-image: linear-gradient(to right, #444444, whitesmoke);
    position: absolute;
    z-index: 20;
}

@media(min-width:580px) {
    .fig {
        max-width: 580px;
        position: relative;
        align-items: center;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10px;
        margin-bottom: -25px;
    }
    .fig #carouselExampleIndicators {
        position: relative;
    }
}

@media(max-width:391px) {}

@media(max-width:391px) {}

nav {
    position: absolute;
    top: 0px;
    float: inline-end;
    background-color: whitesmoke;
}

.section {
    margin-top: 10px;
    background-color: #f8f9fa;
    border-radius: 2%;
}

.section hr {
    width: auto;
    color: #444444;
    height: 6px;
    margin: 2px;
}

.section .sec_con {
    margin: 10px;
    text-align: center;
}

.fig {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    flex-wrap: wrap;
}

.figdes {
    text-align: center;
    color: #fff4f4;
    background-color: rgba(169, 169, 169, 0.641);
    position: relative;
    top: -50px;
}

#logo_img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

#logo_img img {
    height: 50px;
}

#logo_img p {
    font-size: 28px;
    text-align: center;
    color: #003d5b;
    padding-left: 5px;
}

iframe {
    flex-grow: 1;
    width: 100%;
}

@media(max-width:391px) {
    #logo_img p {
        font-size: 20px;
    }
}

@media(max-width:376px) {
    h1 {
        font-size: 24px;
    }
    #logo_img img {
        height: 45px;
    }
}

#pdfin {
    margin: auto;
    width: 95%;
    border: 3px solid #444444;
    padding: 10px;
}

#foot_icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

#foot_icon img {
    width: 40px;
}

p {
    margin-bottom: 0;
}

#foot {
    background-color: #fff4f4;
    align-items: center;
    text-align: center;
}

#foot a {
    text-emphasis: none;
    text-decoration: none;
    color: #a5c7eb;
}

.section button {
    background-color: #a5c7eb;
    color: #444444;
}